# Large Data Directories
allen_brightfield/
allen_brightfield_processed/
allen_data/
allen_processed/
allen_raw_fov/
sample_data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter Notebooks
.ipynb_checkpoints

# IDE
.vscode/
.idea/
